.mood, .mood:hover {
  display: inline !important;
  line-height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  width: 100%;
}

.moods-container {
  width: 100%;
}

.overhappy {
  background-color: #ffda0f;

}

.happy {
  background-color: #cffe0f;

}

.sleepy {
  background-color: #30dafe;

}

.unhappy {
  background-color: #ff008a;

}

.angry {
  background-color: #f21be5;

}
.overhappy, .overhappy:hover {
  background-image: url('/portlet-pack/skin/images/icons/overhappy.png');
}
.happy, .happy:hover {
  background-image: url('/portlet-pack/skin/images/icons/happy.png');
}
.sleepy, .sleepy:hover {
  background-image: url('/portlet-pack/skin/images/icons/sleepy.png');
}
.unhappy, .unhappy:hover {
  background-image: url('/portlet-pack/skin/images/icons/unhappy.png');
}
.angry, .angry:hover {
  background-image: url('/portlet-pack/skin/images/icons/angry.png');
}